{% extends 'core/base_1.html' %} 

{% load static %}

<!-- BLOQUE PARA CONTENIDO css -->
{% block css%}
<link rel="stylesheet" href="{% static 'core/ccs/apiClima.css' %}"> 
{% endblock %}

<!-- BLOQUE PARA CONTENIDO JS -->
{% block js%}
<script src="{% static 'core/js/apiClima.js' %}"></script>
{% endblock %} 

{% block contenido %}
<!-- INICIO: Banner -->
<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <div class="container">
        <ol class="breadcrumb justify-content-center h3">
            <!-- <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li> -->
            <li class="breadcrumb-item active aria-current="page">BUSCAR PRODUCTOS</li>
        </ol>
    </div>
</nav>
<!-- FIN: Banner -->

{% if searched %}
<h2>Busqueda realizada para {{ searched }}</h2>

{% else %}

<h2>No se han encontrado productos</h2>

{% endif %}

{% endblock %}