<!-- BLOQUE PADRE -->
{% extends 'core/base_1.html' %}

<!-- BLOQUE CARGA STATIC -->
{% load static %}

<!-- BLOQUE PARA CONTENIDO css -->
{% block css%} {% endblock %}

<!-- BLOQUE PARA CONTENIDO JS -->
{% block js%} {% endblock %}


{% block contenido %}
<nav aria-label="breadcrumb " class="breadcrumb-wrapper ">
    <div class="container ">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item "><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active " aria-current="page ">Blog Detalle</li>
        </ol>
    </div>
</nav>
<section class="blog-page-section with-sidebar ">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-8 col-xl-9 mb--60 ">
                <div class="blog-post post-details left-slide-margin ">
                    <div class="blog-post post-details single-block ">
                        <section class="home-slider-3 mt-4">
                            <div class="container">
                                <div class=" petmark-slick-slider  home-slider blog-image-gallery" data-slick-setting='{"autoplay": true,"autoplaySpeed": 4000,"slidesToShow": 1,"dots": true}'>
                                    <div class="single-slider home-content bg-image" data-bg="{% static 'core/image/others/blog-slider-1.jpg' %}">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2>Los mejores <br>Cuidados para<br>Nuestros rescatados</h2>
                                            </div>
                                        </div><span class="herobanner-progress"></span>
                                    </div>
                                    <div class="single-slider home-content bg-image" data-bg="{% static 'core/image/others/blog-slider-2.jpg' %}">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2>Ayúdanos <br>Suscribiendote<br>A nuestra Fundación</h2>
                                                <h4 class="mt--20">Ayudarás a un peludo a mejorar</h4>
                                            </div>
                                        </div><span class="herobanner-progress"></span>
                                    </div>
                                    <div class="single-slider home-content bg-image" data-bg="{% static 'core/image/others/blog-slider-3.jpg' %}">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2>Ayúdanos <br>Suscribiendote<br>A nuestra Fundación</h2>
                                                <h4 class="mt--20">Ayudarás a un peludo a mejorar</h4>
                                            </div>
                                        </div><span class="herobanner-progress"></span>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="blog-content mt--30 ">
                            <header>
                                <div class="post-category text-primary "><i class="fas fa-folder "></i><a href="# ">Wordpress</a>, <a href="# ">Medicina</a></div>
                                <h3 class="blog-title "><a href="{% url 'blog_detalle' %} ">Blog imagen </a></h3>
                                <div class="post-meta "><span class="post-author "><i class="fas fa-user "></i><span class="text-gray ">Posteado por : </span> administrador</span><span class="post-separator ">|</span><span class="post-date "><i class="far fa-calendar-alt "></i><span class="text-gray ">Fecha : </span>                                    10 de Marzo, 2022</span>
                                </div>
                            </header>
                            <article>
                                <h3 class="d-none sr-only ">articulo</h3>
                                <p class="p-0 ">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor ac ante egestas hendrerit. Aliquam et metus pharetra, bibendum massa nec,
                                    fermentum odio. Nunc id leo ultrices, mollis ligula in, finibus tortor. Mauris eu dui ut lectus fermentum eleifend. Pellentesque faucibus sem ante, non malesuada odio varius nec. Suspendisse potenti.</p>
                                <blockquote>
                                    <p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur. In venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed, cursus blandit lectus. In ullamcorper sit amet ligula ut eleifend.
                                        Proin dictum tempor ligula, ac feugiat metus. Sed finibus tortor eu scelerisque scelerisque.</p>
                                </blockquote>
                                <p>Aenean et tempor eros, vitae sollicitudin velit. Etiam varius enim nec quam tempor, sed efficitur ex ultrices. Phasellus pretium est vel dui vestibulum condimentum. Aenean nec suscipit nibh. Phasellus nec lacus id arcu
                                    facilisis elementum. Curabitur lobortis, elit ut elementum congue, erat ex bibendum odio, nec iaculis lacus sem non lorem. Duis suscipit metus ante, sed convallis quam posuere quis. Ut tincidunt eleifend odio, ac fringilla
                                    mi vehicula nec. Nunc vitae lacus eget lectus imperdiet tempus sed in dui. Nam molestie magna at risus consectetur, placerat suscipit justo dignissim. Sed vitae fringilla enim, nec ullamcorper arcu.
                                </p>
                                <p>Suspendisse turpis ipsum, tempus in nulla eu, posuere pharetra nibh. In dignissim vitae lorem non mollis. Praesent pretium tellus in tortor viverra condimentum. Nullam dignissim facilisis nisl, accumsan placerat justo ultricies
                                    vel. Vivamus finibus mi a neque pretium, ut convallis dui lacinia. Morbi a rutrum velit. Curabitur sagittis quam quis consectetur mattis. Aenean sit amet quam vel turpis interdum sagittis et eget neque. Nunc ante quam,
                                    luctus et neque a, interdum iaculis metus. Aliquam vel ante mattis, placerat orci id, vehicula quam. Suspendisse quis eros cursus, viverra urna sed, commodo mauris. Cras diam arcu, fringilla a sem condimentum, viverra
                                    facilisis nunc. Curabitur vitae orci id nulla maximus maximus. Nunc pulvinar sollicitudin molestie.</p>
                            </article>
                            <footer class="blog-meta ">
                                <div><a href="# ">3 comentarios </a>/ TAGS: <a href="# ">medicina</a>, <a href="# ">gatos</a>, <a href="# ">abandonados</a></div>
                            </footer>
                        </div>
                    </div>
                    <div class="share-block single-block ">
                        <h3>Compartir ahora</h3>
                        <div class="social-links justify-content-center mt--10 "><a href="# " class="single-social social-rounded "><i class="fab fa-facebook-f "></i></a><a href="# " class="single-social social-rounded "><i class="fab fa-twitter "></i></a>
                            <a href="# " class="single-social social-rounded "><i class="fab fa-pinterest-p "></i></a><a href="# " class="single-social social-rounded "><i class="fab fa-google-plus-g "></i></a>
                            <a href="# " class="single-social social-rounded "><i class="fab fa-linkedin-in "></i></a>
                        </div>
                    </div>
                    <div class="related-post-block single-block ">
                        <h3>Publicación relacionada</h3>
                        <div class="row ">
                            <div class="col-md-4 mt--30 ">
                                <div class="related-post ">
                                    <div class="image "><img src="{% static 'core/image/others/blog-related-1.jpg' %}" alt=" "></div>
                                    <div class="content ">
                                        <h4 class="post-date ">16 de Diciembre. 2018</h4>
                                        <h2 class="post-title "><a href="{% url 'blog_detalle' %} ">Posteado con imagen</a></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt--30 ">
                                <div class="related-post ">
                                    <div class="image "><img src="{% static 'core/image/others/blog-related-2.jpg' %}" alt=" "></div>
                                    <div class="content ">
                                        <h4 class="post-date ">02 de Agosto. 2019</h4>
                                        <h2 class="post-title "><a href="{% url 'blog_detalle' %}">Posteado con imagen</a></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt--30 ">
                                <div class="related-post ">
                                    <div class="image "><img src="{% static 'core/image/others/blog-related-3.jpg' %}" alt=" "></div>
                                    <div class="content ">
                                        <h4 class="post-date ">25 de Enero. 2021</h4>
                                        <h2 class="post-title "><a href="{% url 'blog_detalle' %}">Posteado con imagen</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 ">
                <div class="sidebar-widget ">
                    <div class="single-sidebar ">
                        <h2 class="sidebar-title ">Buscar</h2>
                        <div class="site-mini-search "><input type="text " placeholder="Buscar "><button><i class="fas fa-search "></i></button></div>
                    </div>
                    <div class="single-sidebar ">
                        <h2 class="sidebar-title ">ARCHIVOS DEL BLOG</h2>
                        <ul class="sidebar-list ">
                            <li><a href="# ">Marzo 2018 (1)</a></li>
                            <li><a href="# ">December 2019 (3)</a></li>
                            <li><a href="# ">November 2020 (4)</a></li>
                            <li><a href="# ">September 2021 (1)</a></li>
                            <li><a href="# ">Enero 2022 (1)</a></li>
                        </ul>
                    </div>
                    <div class="single-sidebar ">
                        <h2 class="sidebar-title ">POST RECIENTES</h2>
                        <ul class="sidebar-list ">
                            <li><a href="# ">Blog ayuda a un Perrito</a></li>
                            <li><a href="# ">Blog ayuda a un Gatito</a></li>
                            <li><a href="# ">Blog ayuda a un Ave</a></li>
                            <li><a href="# ">Blog ayuda a un Conejo</a></li>
                            <li><a href="# ">Blog nuestra Tienda</a></li>
                        </ul>
                    </div>
                    <div class="single-sidebar ">
                        <a class="promo-image overflow-image "><img src="{% static 'core/image/product/slidebar-promo-product.jpg' %}" alt=" "></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}