<!-- BLOQUE PADRE -->
{% extends 'core/base_1.html' %}

<!-- BLOQUE CARGA STATIC -->
{% load static %}

<!-- BLOQUE PARA CONTENIDO css -->
{% block css%} {% endblock %}

<!-- BLOQUE PARA CONTENIDO JS -->
{% block js%} {% endblock %} {% block contenido %}
<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <div class="container">
        <ol class="breadcrumb justify-content-center  h3 py-3 ">
            <!-- <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li> -->
            <li class="breadcrumb-item active aria-current=" page ">COMPARADOR DE PRODUCTOS</li>
        </ol>
        <hr class="mt-0 ">
        <ol class="breadcrumb justify-content-center ">
            <div class="row text-center mt-0 ">
                <div class="col-4 "><a href="{% url 'tiendafor' %} " class="btn colorNaranja text-light ">Ir a Tienda</a></div>
                <div class="col-4 "><a href="{% url 'wishlist' %} " class="btn colorVerde text-light ">Ir a Wishlist</a></div>
                <div class="col-4 "><a href="{% url 'compare' %} " class="btn colorNaranja text-light ">Ir al Comparador</a></div>
            </div>
            
        </ol>
    </div>
</nav>

{% load humanize %}
<!-- Compare Page Start -->
<div class="compare_area sp-inner-page ">
    <div class="container ">
        <div class="row ">
            <div class="col-12 ">

                <form action="./ ">
                    <!-- Cart Table -->
                    <div class="cart-table table-responsive ">
                        <div class=" text-black text-center ">
                            <h1>Comparador de Productos</h1>
                        </div>
                        <hr>

                        <table class=" table ">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail ">Imagen</th>
                                    <th class="pro-title ">Producto</th>
                                    <th class=" ">Descripción</th>
                                    <th class="pro-subtotal ">Precio</th>
                                    <th class="pro-subtotal ">Precio Oferta</th>
                                    <th class="pro-quantity ">Stock</th>
                                    <th class="pro-remove ">Agregar</th>
                                    <th class="pro-remove ">Remover</th>

                                </tr>
                            </thead>


                            <tbody>
                                {% if request.session.compare.items %}
                                <!--Primero un IF - Luego un FOR para recorrer el carro de compras-->
                                {% for key, value in request.session.compare.items %}

                                <tr>

                                    <td class="pro-thumbnail ">
                                        <a href="# "><img src="{{value.imagen}} " alt="Product "></a>
                                    </td>
                                    <td class="pro-title "><a href="# ">{{value.nombre | capfirst}}</a></td>
                                    <td class=" ">{{value.descripcion}}</a>
                                    </td>
                                    <td class=" pro-price "><span>${{value.precio | intcomma }}</span></td>
                                    <td class="pro-price "><span>${{value.precio_oferta | intcomma }}</span></td>
                                    <td class="pro-price "><span>{{value.stock | intcomma }}</span></td>

                                    <td class="pro-addtocart "><a href="# " class="btn btn-rounded btn-outlined--primary "><i class="fas fa-shopping-cart "></i><span>AGREGAR</span></a></td>
                                    <td class="pro-remove "><a href="{% url 'eliminarC' value.producto_id %} "><i class="far fa-trash-alt "></i></a></td>
                                </tr>
                                {% endfor %} {% else %}
                                <tr>
                                    <td colspan="12 ">
                                        <div class="alert alert-danger text-center "> No hay productos en su Comparador </div>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>

                        </table>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="row text-center ">
            <div class="col-6 "><a href="{% url 'limpiarC' %} " class="btn btn-danger ">LIMPIAR</a></div>
            <div class="col-6 "><a href="{% url 'tiendafor' %} " class="btn btn-success ">Volver a tienda</a></div>
        </div>
    </div>
</div>
<!-- Compare Page End -->


{% endblock %}