<!-- BLOQUE PADRE -->
{% extends 'core/base_1.html' %}

<!-- BLOQUE CARGA STATIC -->
{% load static %}

<!-- BLOQUE PARA CONTENIDO css -->
{% block css%} {% endblock %}

<!-- BLOQUE PARA CONTENIDO JS -->
{% block js%} {% endblock %}

{% block contenido %}
<!-- Main Wrapper Start -->
<main id="content" class="main-content-wrapper overflow-hidden">
    <div class="error-section">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7">
                <div class="error-content">
                    <h2>PÁGINA EN CONSTRUCCIÓN</h2>
                    <p>Lo sentimos, pero la página que busca se encuentra en construcción y no está disponible por el momento.</p>
                    <form role="search" method="get" id="blogsearchform" class="search-form" action="./">
                        <div class="site-mini-search"><input type="text" placeholder="Buscar"><button><i class="fas fa-search"></i></button></div><a class="btn btn--primary btn-rounded" href="{% url 'index' %}" title="Back to home">Volver al Home</a></form>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}