{% extends 'core/base_1.html'%} {% load static %} {% block js %} {% endblock %} {% block css %} {% endblock %} {% block contenido %}

<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Carro Compras</li>
        </ol>
    </div>
</nav>
<!-- Cart Page Start -->
<div class="cart_area cart-area-padding sp-inner-page--top">
    <div class="container">
        <div class="page-section-title">
            <h1>CARRO DE COMPRAS</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="#" class="">
                    <!-- Cart Table -->
                    <div class="cart-table table-responsive mb--40">
                        <table class="table">
                            <!-- Head Row -->
                            <thead>
                                <tr>
                                    <th class="pro-remove"></th>
                                    <th class="pro-thumbnail">Imagen</th>
                                    <th class="pro-title">Producto</th>
                                    <th class="pro-price">Precio</th>
                                    <th class="pro-quantity">Cantidad</th>
                                    <th class="pro-subtotal">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Product Row -->
                                <tr>
                                    <td class="pro-remove"><a href="#"><i class="far fa-trash-alt"></i></a></td>
                                    <td class="pro-thumbnail">
                                        <a href="#"><img src="{% static 'core/image/product/home-1/product-1.jpg' %}" alt="Product"></a>
                                    </td>
                                    <td class="pro-title"><a href="#">Rinosin Glasses</a></td>
                                    <td class="pro-price"><span>$395.00</span></td>
                                    <td class="pro-quantity">
                                        <div class="pro-qty">
                                            <div class="count-input-block"><input type="number" class="form-control text-center" value="1"></div>
                                        </div>
                                    </td>
                                    <td class="pro-subtotal"><span>$395.00</span></td>
                                </tr>
                                <!-- Product Row -->
                                <tr>
                                    <td class="pro-remove"><a href="#"><i class="far fa-trash-alt"></i></a></td>
                                    <td class="pro-thumbnail">
                                        <a href="#"><img src="{% static 'core/image/product/home-1/product-1.jpg' %}" alt="Product"></a>
                                    </td>
                                    <td class="pro-title"><a href="#">Rinosin Glasses</a></td>
                                    <td class="pro-price"><span>$395.00</span></td>
                                    <td class="pro-quantity">
                                        <div class="pro-qty">
                                            <div class="count-input-block"><input type="number" class="form-control text-center" value="1"></div>
                                        </div>
                                    </td>
                                    <td class="pro-subtotal"><span>$395.00</span></td>
                                </tr>
                                <!-- Discount Row  -->
                                <tr>
                                    <td colspan="6" class="actions">
                                        <div class="coupon-block">
                                            <div class="coupon-text">
                                                <label for="coupon_code">Cupón:</label>
                                                <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Código Cupón">
                                            </div>
                                            <div class="coupon-btn"><input type="submit" class="btn-black" name="apply_coupon" value="Aplicar Cupón">
                                            </div>
                                        </div>
                                        <div class="update-block text-right"><input type="submit" class="btn-black" name="update_cart" value="Actualizar Carro"><input type="hidden" id="_wpnonce" name="_wpnonce" value="05741b501f"><input type="hidden" name="_wp_http_referer" value="/petmark/cart/"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="cart-section-2 sp-inner-page--bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mb--15">
                <!-- slide Block 5 / Normal Slider -->
                <div class="cart-block-title">

                </div>

            </div>
            <!-- Cart Summary -->
            <div class="col-lg-6 col-12 d-flex">
                <div class="cart-summary">
                    <div class="cart-summary-wrap">
                        <h4><span>Resumen de Compra</span></h4>
                        <p>Sub Total <span class="text-primary">$125.000</span></p>
                        <p>Costo de envio <span class="text-primary">$0</span></p>
                        <h2>Total <span class="text-primary">$125.000</span></h2>
                    </div>
                    <div class="cart-summary-button">
                        <a href="{% url 'checkout' %}" class="checkout-btn c-btn">Checkout</a>
                        <button class="update-btn c-btn">Actualizar</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Page End -->




{% endblock %}