<!-- BLOQUE PADRE -->
{% extends 'core/base_1.html' %}

<!-- BLOQUE CARGA STATIC -->
{% load static %}

<!-- BLOQUE PARA CONTENIDO css -->
{% block css%}
<link rel="stylesheet" href="{% static 'core/css/estilo-form-registro.css' %}" />
<link rel="stylesheet" href="{% static 'core/css/notify.css' %}" />
<link rel="stylesheet" href="{% static 'core/css/prettify.css' %}" /> 
{% endblock %}

<!-- BLOQUE PARA CONTENIDO JS -->
{% block js%}
<script src="{% static 'core/js/notify.js' %}"></script>
<script src="{% static 'core/js/prettify.js' %}"></script>
<script src="{% static 'core/js/validar-login.js' %}"></script>
{% endblock %}
<!-- BLOQUE PARA CONTENIDO JS -->

{% block contenido %}
<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Acceso</li>
        </ol>
    </div>
</nav>

<!--=============================================    =            Contenido Acceso y Registro        =    =============================================-->
<main class="page-section pb--10 pt--50">
    <div class="container">
        <header class="entry-header">
            <h1 class="entry-title">Mi cuenta</h1>
        </header>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                <!-- Login Form s-->

                <form id="formulario-login" action="" method="post">
                    <h4 class="login-title">Acceso</h4>
                    <div class="login-form">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 mb--20">
                                <!-- Grupo: Correo Electronico -->
                                <div class="formulario__grupo" id="grupo__correo">
                                    <label for="correo" class="formulario__label">Correo Electrónico*</label>
                                    <div class="formulario__grupo-input">
                                        <input type="email" class="formulario__input" name="correo" id="correo" placeholder="ejemplo@correo.com">
                                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                    </div>
                                    <p class="formulario__input-error">Ingrese un correo eléctronico válido.</p>
                                </div>

                            </div>
                            <div class="col-md-12 col-lg-12 mb--20">
                                <!-- Grupo: Contraseña -->
                                <div class="formulario__grupo" id="grupo__password">
                                    <label for="password" class="formulario__label">Contraseña*</label>
                                    <div class="formulario__grupo-input">
                                        <input placeholder="Contraseña" type="password" class="formulario__input" name="password" id="password">
                                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                    </div>
                                    <p class="formulario__input-error">Ingrese una contraseña válida.</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <button type="submit" class="formulario__btn mr-3">Ingresar</button>
                                    <div class="d-inline-flex align-items-center">

                                        <input type="checkbox" id="accept_terms" class="mb-0 mr-1">
                                        <label for="accept_terms" class="mb-0 font-weight-400">
                                                    Recordarme

                                                </label>
                                    </div>
                                </div>
                                <p><a href="#" class="pass-lost mt-3">¿Olvidaste tu contraseña?</a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                <form action="./">
                    <h4 class="login-title">Registrarse</h4>
                    <div class="login-form">
                        <div class="row">

                            <div class="col-md-12 col-12 mb--20">
                                <p>
                                    Si desea pertenecer a nuestra fundación le damos la opción de registrase y asi poder acceder a descuentos en su compra.
                                    <br>
                                    <br> Recuerda! Si nos ayudas comprando nuestros productos y ya estas registrado, nuestros animalitos te lo agradeceran muchisimo.
                                    <br>
                                    <br> Si te Suscribes con una DONACIÓN en cada compra obtendrás un 5% de descuento en el total de tu compra.<br> Ayudar nunca fué tan fácil.
                                </p>
                            </div>

                            <div class="col-md-12"><a href="{% url 'registro' %}" class="btn btn-black">Ir a Registrarse</a></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<!--=====  End of Login Register page content  ======-->
{% endblock %}